color:red
<<<<<<< HEAD
another-color:purse
=======
background-color:green
>>>>>>> 7ae300668c0fc962e30e07f180dcbb1da16a0b0a
<<<<<<< HEAD
222222
=======
111111
>>>>>>> e83669a8603bf69e10ea4704ca0c41f4d375d3bb
78910
